body{
	--eye-protection-color: #f1f1f1;
	--background-primary : var(--eye-protection-color);
	--background-secondary: var(--eye-protection-color);
	--background-modifier-hover: hsla(var(--interactive-accent-hsl), 0.1);
	--text-normal: #000000;
	--text-muted: var(--text-normal);
	--tab-background-active: #f5f5f5;
	--code-background: #e9e9e9;
	--titlebar-background-focused: #ffffff;
	--text-faint: #9b9b9b;
	--collapse-icon-color: var(--text-normal);
}

.view-header{
	background-color: var(--tab-background-active) !important;
}

.view-header-title-container:not(.mod-at-end):after{
	background: none;
}

.cm-active.cm-line{
	background:rgb(255 200 99 / 20%) !important
}

table tr:nth-child(2n),
thead {
    background-color: #f6f6f6;
}